.author {
  display: flex;
  margin-bottom: 0.25em;
}

.author-name {
  flex: 1 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.author-account {
  font-size: 0.9em;
  color: #aaa;
}

.author-time {
  flex: 0 0 auto;
  margin-left: 0.25em;
  font-size: 0.9em;
  color: #aaa;
}